<h1>Listing tenants</h1>

<table>
  <tr>
    <th>Subdomain</th>
    <th>User name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tenants.each do |tenant| %>
  <tr>
    <td><%= tenant.subdomain %></td>
    <td><%= tenant.user_name %></td>
    <td><%= link_to 'Show', tenant %></td>
    <td><%= link_to 'Edit', edit_tenant_path(tenant) %></td>
    <td><%= link_to 'Destroy', tenant, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tenant', new_tenant_path %>
